
.submit-button {
	color:gray;
	border:gray;
}
.submit-button.active {
	color:inherit;
}
.admit-button,.nfc-button {
	min-width:10em;
}
.admit-button,.nfc-button:visited {
	color:white !important;
}

#page-heading {
	/*display: none;*/
}


.loading {
	background: transparent url('loading-spinner-multicolor.gif') center center no-repeat;
}

* { color: white; }


.nfc-wrapper button {
	width: 50%;
	height: 50px;
	border-radius: 5px;
	margin: auto;
	margin-top:1em;

}

.hidden {
	display: none;
}
.grid-container {
	display: grid;
	grid-template-columns:20% 20% 50% 10%;
  	grid-template-rows: auto;
}

.list-group {
	display: block;
	margin: auto;
	/*text-align: center;*/
}
.list-group-item  {
	
}
ul {
	margin: auto;
	list-style: none;
	padding: inherit;
	}

li {
	margin-top: 5px;
	margin-bottom: 5px;
	list-style: none;
}
button, button a, button span, .register_button_wrap {
	margin: auto;
}
button, input {
	outline: none;
}

a, button, li {
	text-decoration: none;
	/*text-align: center;*/
}

a.button,a.button:visited {
	display: inline-block;
	text-align: center;
	border:2px solid white;
	border-radius: 4px;
	padding:1em;
	margin:0 .5em 0 0;
	color:white;
	font-weight: bold;
	background-color:#1D8CB5;
	cursor: pointer;
}
a.button:hover,a.button:visited:hover {
	text-decoration: none;
	color:rgb(235,219,52);
	border:2px solid rgb(235,219,52);
}
a.reader-select-button {
	width: 100%;
}

.filter input {
	
}

.nav-buttons {		
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%;
	margin-bottom:.5em; 
}
.member_select_search {
	display: grid;
	grid-template-columns:auto 20%;
	grid-gap: .5em;
	margin-bottom:.5em;	
}
.member_select_search #q {
	width: 100%;
	margin: auto;	
	box-shadow: 0 0 0 transparent;
   border-radius: 4px;
   border: 2px solid white;
   background-color: #DDD;
   color: #32373c;   
	font-size: 1.5em;
	/*height: 50px;*/
	padding:.4em;
}
.member_select_search .clear-button {
}
.member_select_list.list-group {
	margin-top:1em;
}
.member_select_list .list-group-item {
	width:100%;
	display: block;
	margin:.5em 0;
	padding:.5em;
	border-radius: 5px;	
	background-color: rgba(38,38,38, 0.95) ;
	border: 2px solid #34b1eb;
}
.member_select_list .list-group-item:hover {
	background: #7d18a8;
}
.member_select_list .list-group-item a.attendee-link {
	display: block;
	width:100%;
	border:2px solid white;
	background-color:#1D8CB5; 
	padding:1em;
	border-radius: 3px;
}
.member_select_list .list-group-item a.attendee-link:hover {
	color:rgb(235,219,52);
	text-decoration: none;
}
.member_select_list .list-group-item .member-displayname {
	font-weight: bold;
	font-size:1.2rem;
}
.member_select_list .list-group-item .member-email {
	color:#AAA;
	font-size:.7em;		
	white-space:nowrap;
}
.member_select_list .attended a.attendee-link {
	background-color: gray;
}


.special-guest {
	/*background-color: lightblue !important;*/
	/*border-color:green !important;*/
}
.list-group-item.attended {
	display: none;
	/*border-color:gray !important;*/
}
.hidden {
	display: none !important;
}

span.token {
	display: inline-block;
	height:100px;
	width: 100px;
	border-radius: 3em;
	border:2px solid white;	
	background-size: contain;
}
.token.greentoken {background-color:green;background-image: url(icons/pendant-vector-doublemint.svg);	}
.token.bluetoken { background-color:blue; background-image: url(icons/pendant-vector-winterfresh.svg); }
.token.redtoken { background-color:red; background-image: url(icons/pendant-vector-bigred.svg);}
.token.yellowtoken { background-color:yellow; background-image: url(icons/pendant-vector-juicyfruit.svg); }
.token.purpletoken { background-color:purple; background-image: url(icons/pendant-vector-team.svg); }

/* /// Should be mobile first, yo! */
@media screen and (max-width: 960px) {
	html {
	    margin-top: 0px !important;
	}
	#content.site-content {
		margin:1em;
	}

}



/*.ifl-party-mechanics .entry {
	border-radius:4px;
	background:#FFF;
	box-shadow: 0px 0px 2px #666;
	padding:.4em .6em;
	display: block;
}
.ifl-party-mechanics {

}
*/




/*==============*/
a.admit-button {
	color:white;
	font-weight: bold;
	padding:.8em;
	margin-top:.5em;
	/*border: 1px solid darkblue;*/
	background:#1D8CB5;
	border-radius:4px;
	display: block;
	font-size: 1.2em;
	text-shadow: 0px 0px 1px #000;

}
a.admitting {
	color:#aaa;
	background:lightblue;
}
a.admitted {
	color:#555;
	background:#CCC;
	text-shadow:0px 0px 0px #000;
}
.entry-email {
	text-align: right;
	color:#666;
	font-size: 80%;
}

.admit-all {
	float:right;
	/*display: block;*/
	/*background: lightblue;*/
	/*color: black;*/
	/*padding:3px 5px;*/
	/*border-radius: 4px;*/
	/*position: absolute;*/
	/*top:1em;*/
	/*right:1em;*/
}

.membership-terms {
	overflow:scroll;
	border:1px solid white;
	height:150px;
	font-size: 10px;
	padding:10px;
}

form .button {
	background-color: #34b1eb !important; /*/// !important*/
}

.gform_wrapper .gfield_error .gfield_label {
	color:red;
}

/*.nfc-wrapper*/

