
/*  Member Filter Styles */
.table-filter {
	height: 5em;
	display: block;
	/*position: absolute;*/
	/*top:10px;*/
}
.table-filter #q {
	font-size:2em;
	margin-bottom:1.1em;
	padding:10px;
	height:2em;
	width:80%;
	float: left;
}
.table-filter .clear-filter {
	color:white;
	font-size:2em;
	width:18%;
	margin-left:6px;
	height: 2em;
	float: left;
	background: #1D8CB5;
}

/* Member Select List */ 
.iflpm-member-table {
	width:100%;
	border-bottom:1px solid #000;
}
.iflpm-member-table  tr {
	
}
.iflpm-member-table .filter-item.zebra-stripe {
	background: #DDD;
}
.iflpm-member-table  tr.special-guest {
	background: lightblue !important;
}
.iflpm-member-table th {
	font-weight: bold;	
	border-bottom:1px solid #999;
}
.iflpm-member-table td,th {
	vertical-align: middle;
	padding:.3em .5em;
	border: 0
}
.iflpm-member-table .user-tokens ul {
	margin:.5em;
}
.iflpm-member-table .user-tokens li {	
	border:1px solid #9999AA;
	padding:.3em;
	display: inline-block;
	margin-right:.5em;
	margin-bottom:0em;
	border-radius: 4px;
	/*margin-right*/
}

.loading {
	min-width: 30px;
	min-height: 30px;
	background: transparent url('icons/loading-spinner-multicolor.gif') center center no-repeat;
}

.iflpm-member-table li.purpletoken {background: #FF00FF; color:white;}
.iflpm-member-table li.redtoken {background: #FF0000; color:white;}
.iflpm-member-table li.bluetoken {background: #0000FF; color:white;}
.iflpm-member-table li.yellowtoken {background: #FFFF00;}
.iflpm-member-table li.greentoken {background: #00FF00;}